html,
body,
.root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body,
.app {
  background: white;
}

/* main page */
.tab-container {
  width: 50%;
  max-height: 90%;
  margin: 0 auto;
  border-radius: 7px;
  border: 1px;
  border-style: solid;
  border-collapse: collapse;
}
.tab{
  width: 49%; /*Slightly less than 1/2th of the width*/ 
  display: inline-block;
  padding: 0;
  margin: 0;
  text-align: center;
  border:1px solid;
}


.c-tabBar {
  width: 50%;
  min-height: 100px;
  margin: 0 auto;
  border-radius: 7px;
  border: 1px;
  border-style: solid;
 
}
.c-tab {
  width: 49%;
  display: inline-block;
  padding: 8px 16px 4px;
  border-radius: 8px 8px 0 0;
  border:  #999999 solid;
  border-bottom: none;
 
}