body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

/* main page */
.tab-container {
  width: 50%;
  min-height: 30%;
  height: flex;
  margin: 0 auto;
  border-radius: 7px;
  border: 1px;
  border-style: solid;
  border-collapse: collapse;
}
.tab {
  width: 49%; /*Slightly less than 1/2th of the width*/
  display: inline-block;
  padding: 0;
  margin: 0;
  text-align: center;
  border: 1px solid;
}

/* question card */

.avatar-div {
  width: 28%;
  float: left;
  margin: auto;
}
.avatar {
  height: 100px;
  width: 60%;
  margin: auto;
  display: block;
  border-radius: 50%;
}
.card-text {
  width: 70%;
  float: right;
  margin: 0;
  border-left: 1px dotted;
  padding-left: 10px;
  height: 100%;
}
.question-text {
  color: #969696;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
  white-space: nowrap;
}

.question {
  width: 100%;
  max-width: 590px;
  padding: 0 auto;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
  flex-direction: column;
}
.card-container {
  margin-bottom: 10px;
}

.question > p {
  background-color: lightgray;
  font-size: 1.2em;
  vertical-align: middle;
  padding: 10px;
}
.btn-m {
  margin: 5px !important;
}

/* new question*/
.new-question {
  width: 100%;
  max-width: 590px;
  padding: 0;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
  flex-direction: column;
}

.new-question > h4 {
  background-color: lightgray;
  padding: 10px;
}
.new-question > p {
  padding-left: 10px;
  margin: 5px;
}
.new-question-title {
  font-weight: bold;
}
.new-question > input {
  padding: 5px;
  width:95%;
  margin:10px auto;
}
.new-question > button {
  width: 95%;
  height: 90%;
  margin: 10px auto;
  padding: 5px;
}
